# Serve static export in production, proxy to development server in
# development.

:8080

# Health endpoint
handle /health {
	respond "{\"status\":\"ok\"}" 200
}

@dev {
	expression "{$SERVICE_MODE}" == "development"
}
@prod {
	expression "{$SERVICE_MODE}" == "production"
}

handle @dev {
	handle_path /api/* {
		reverse_proxy backend:8000
	}

	reverse_proxy frontend:3000
}

handle @prod {
	handle_path /api/* {
		reverse_proxy localhost:8000
	}

	root * ./frontend
	file_server
}
